.labelLikes{
    position: relative;
    width:3rem;
    padding-right: .5rem;
    /* padding-left: .8%; */
    text-align: center;
}
.labelLikesReply{
    position: relative;
    width:3rem;
    /* padding-right: 4%; */
    padding-left: 0rem;
    text-align: center;
}